.day11{
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
}
.contenedor{
  min-width: 100px;
  width: 100%;
  max-width: 200px;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-type-2);
  border-radius: 40%;
  box-shadow: 2px 0px 4px 1px var(--color-grey);
}
.contenedor__text{
  font-size: 20px;
  font-weight: 600;
  cursor: default;
}
.contenedor h2{
  width: 90%;
  text-align: center;
  margin-top: 12px;
  padding: 20px 0;
  background-color: var(--color-background-type-2);
  border-radius: 40%;
  cursor: default;
}