.day17{
  width: 100%;
}
.header{
  height: 72px;
  display: flex;
  justify-content: space-around;
  background-color: var(--color-background-type-3);
}
.header_picture{
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
}
.header_picture img{
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 20px;
  border: 2px solid green;
}
.header_div{
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
}
.header_div input{
  height: 54px;
  padding-left: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 2px solid green;
  border-right: 0 ;
  color: black;
  font-size: 20px;
  font-weight: 500;
}
.header_div_picture{
  width: auto;
  height: 54px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  background-color: var(--color-background-type-4);
  border: 2px solid green;
  border-left: 0 ;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
}
.header_div_picture:hover{
  background-color: var(--color-background-type-3);
}
.container{
  width: calc(100% - 40px);
  padding: 20px;
  margin: 26px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 290px));
  place-content: center;
  gap: 50px;
}
.container_film{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 1px solid black;
  border-radius: 12px;
  padding: 4px;
  background-color: var(--color-background-type-1);
  overflow: hidden;
}
.container_film picture{
  width: auto;
  height: auto;
}
.imgPeliculas{
  width: 100%;
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.description{
  padding: 8px;
  width: calc(100% - 16px);
  height: max-content;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  z-index: 1;
}
.description__title{
  width: calc(100%);
  margin-left: 8px;
  font-size: 1.4rem;
  padding: 12px 0;
  text-align: center;
}
.description__popular{
  position: absolute;
  top: -6px;
  right: -6px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 12px;
  border-radius: 8px;
  border: 2px solid grey;
  background-color: black;
}
.green{
  color: green;
  border: 2px solid green;

}
.red{
  color: red;
  border: 2px solid red;
}
.description_description{
  position: absolute;
  width: calc(100% - 24px);
  overflow: hidden;
  background-color: aliceblue;
  color: black;
  font-size: 1rem;
  bottom: -100%;
  transition: bottom .3s ease-out;
}
.container_film:hover .description_description{
  padding: 12px;
  bottom: 0;
}
.container_film:hover .imgPeliculas{
  scale: 1.04;
}