@import url("//fonts.googleapis.com/css?family=Bungee+Shade");

.loading{
  width: 100%;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: var(--color-background-type-3);
  box-shadow: 0px 0px 120px 20px var(--color-background-type-shadow-1);
  cursor: pointer;
  z-index: 10;

}
.loadingContent{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img[alt='Logo']{
  width: 30vw;
  max-width: 300px;
  height: 25vw;
  max-height: 300px;
}
.loading_text{
  color: var(--color-text-type-1);
  font-size: 7vw;
  font-family: 'Bungee Shade';
  line-height: 70px;
  cursor: pointer;
  padding: 4px;
  border-radius: 12px;
  margin-bottom: 8px;
}
.continue{
  width: 50%;
  padding: 20px 0px 0px;
  position: absolute;
  top: 0px;
  background-color: transparent;
  border-radius: 0 0 30px 30px;
  border: 0;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 12px;
  cursor: pointer;
  transition: box-shadow 4s ;
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}
.animated {
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1;
    font-weight: bold;
  }

  25%, 75% {
    opacity: 0;
  }
}
@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}
.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}
.animated2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@media (min-width:1000px){
  .loading_text{
    font-size: 70px;
  }
}