:root{
  --color-text-type-1: black;
  --color-text-type-1-light: rgb(38, 38, 38);
  --color-text-type-2: rgb(200, 200, 200);
  --color-background-type-dark: rgb(42, 42, 42) ;
  --color-background-type-1: rgb(51, 51, 51) ;
  --color-background-type-2: rgb(71, 71, 71, 60%) ;
  --color-background-type-3: rgb(87, 87, 87) ;
  --color-background-type-4: rgb(100, 100, 100) ;
  --color-background-type-shadow-1: rgba(255, 255, 255);
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: 0;
  font-family: 'Courier New', Courier, monospace;
  color: #ffff;
}
.ocultar{
  display: none !important;
}
.ContextGlobal{
  padding: 0;   
  min-width: 100%;
  height: 100%;
  position: relative;
  background-image: url(./IMG/Fondos/fondo.jpg);
  background-size: cover;
  box-shadow:inset 0 0 100px 2px rgba(0,0,0,1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ContextGlobal2{
  padding: 0;   
  min-width: 100%;
  height: 100%;
  position: relative;
  box-shadow:inset 0 0 100px 2px rgba(0,0,0,1);
  background-color: var(--color-background-type-1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

