.Headboard{
  width: calc(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 44px;
  z-index: 6;
  background-color: var(--color-background-type-2);
  transition: background-color .3s ease, box-shadow .3s ease;
}
.Headboard:hover{
  background-color: var(--color-background-type-1);
  box-shadow: 0 0 8px 0px var(--color-background-type-shadow-1);
}
.Headboard_ancors{
  padding: 22px 12px;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 4px;
  color: aliceblue;
  opacity: .7;
  transition: text-shadow .3s, opacity .3s;
}
.Headboard_ancors:hover{
  background-color: var(--color-background-type-dark);
  opacity: 1;
  color: white;
}

.main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}
.presentAuthor{
  width: 100%;
  max-width: 700px;
  height: 100%;
  margin: 40px 0 20px;
  padding: 20px;
  padding-bottom: 0;
  background-color: var(--color-background-type-2);
  border-radius: 12px;
  transition: background-color .3s, box-shadow .3s;
}
.presentAuthor:hover{
  background-color: var(--color-background-type-1);
  box-shadow: 0 0 12px 0px var(--color-background-type-shadow-1);
}
.presentAuthor_header{
  display: flex;
  width: 100%;
  height: auto;
}
.presentAuthor_header_izquierda{
  width: 500px;
}
.presentAuthor_header_izquierda_center{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.presentAuthor_header_izquierda_Author{
  font-size: 40px;
  cursor: default;
}
.presentAuthor_header_izquierda_Author_link{
  padding: 8px;
  font-size: 24px;
  text-decoration: none;
  color: cyan;
  transition: background-color .5s;
}
.presentAuthor_header_izquierda_Author_link:hover{
  background-color: var(--color-background-type-dark);
  border-radius: 8px;
}
.presentAuthor_header_derecha{
  width: min-content;
  display: flex;
  justify-content: center;
}
.presentAuthor_header_derecha .presentAuthor_header_derecha_img{
  height: 200px;
  border-radius: 100%;
  cursor: pointer;
}
.presentAuthor_header_description{
  width: 80%;
  margin: 24px auto 0;
  padding: 20px;
  margin-bottom: 12px;
  border-radius: 12px;
  font-size: 18px;
  background-color: var(--color-background-type-2);
}

.presentProyect{
  width: 100%;
  max-width: 1200px;
  text-align: center;
}
.containerProyect{
  width: calc(100% - 40px);
  height: 100%;
  padding: 20px;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  background-color: var(--color-background-type-2);
  border-radius: 12px;
}
.containerProyect_title{
  margin-bottom: 20px;
  font-size: 46px;
  letter-spacing: 3px;
  border-bottom: 2px solid white;
}
.proyect{
  height: 250px;
  position: relative;
  text-align: start;
  border-radius: 12px;
  background-color: var(--color-background-type-2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-color .3s, box-shadow .3s;
}
.proyect_title{
  background-color: var(--color-background-type-1);
  padding: 12px 0px 12px 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  opacity: .7;
  transition: opacity .3s, background-color .3s ;
}
.proyect_assets{
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 4px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: var(--color-background-type-1);
  transition: opacity .3s, background-color .3s ;
}
.proyect_go{
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 12px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 4px;
  opacity: .7;
  background-color: var(--color-background-type-1);
  cursor: pointer;
  transition: text-shadow .3s, opacity .3s;
}
.assets{
  width: 48px;
  height: 48px;
}
.proyect:hover{
  background-color: var(--color-background-type-1);
  box-shadow: 0 0 10px 0px var(--color-background-type-shadow-1);
  background-size: 110%;
}
.proyect:hover .proyect_title,
.proyect:hover .proyect_go{
  opacity: 1;
  background-color: var(--color-background-type-4);
}
.proyect:hover .proyect_assets{
  background-color: var(--color-background-type-4)
}

.rotate-vertical-center{
  animation:rotate-vertical-center 0.4s
}
@keyframes rotate-vertical-center{
  0%{transform:rotateY(0)}
  100%{transform:rotateY(360deg)}
}

/* EMAIL */
.email{
  height: calc(100vh - 64px);
  width: 80%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.email__text{
  font-size: 40px;
  text-align: center;
  cursor: default;
}
.email__form{
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background-type-1);

}
.field {
  min-width: 300px;
  width: 40%;
  margin-bottom: 16px;
}
.field label {
  margin-left: 4px;
  display: block;
  font-size: 16px;
}
.field input,
.field textarea{
  width: 100%; 
  padding: 0 8px;
  display: block;
  line-height: 1.5;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  color: black;
}
.field textarea{
  max-width: 350px;
  max-height: 200px;
  height: 70px;
  
}
.buttonEnviar{
  padding: 12px 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background-color: var(--color-background-type-1);
  border-radius: 12px; 
  font-size: 24px;
  cursor: pointer;
  transition: background-color .3s font-weight .4s;
}
.buttonEnviar:hover {
    background-color: var(--color-background-type-shadow-1);
  font-weight: bold;
}
img[alt="enviar"]{
  width: 16px;
  height: 16px;
}