.day41{
    min-height: calc(100vh - 81px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
section{
    width: 600px;
    height: auto;
    padding: 24px;
    display: flex;
    gap: 24px 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid grey;
    border-radius: 12px;
    background-color: rgb(5, 0, 48);
}
section h1{
    font-size: 2rem;
    color: white;
    text-align: center;
    text-wrap: balance;
}
section p{
    width: 90%;
    margin: 0 5%;
    text-align: start;
}
section div{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
section div input[type=number]{
    width: 100px;
    height: 100px;
    font-size: 4rem;
    color: black;
    text-align: center;
}
section div input[type=number]::-webkit-inner-spin-button{
    display: none;
}