.day32{
    width: 100vw;
    min-height: calc(100vh - 81px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    text-wrap: balance;
    font-size: 2rem;
    margin-bottom: 24px;
}
.contenedor{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}
.contenedor p{
    font-size: 1.5rem;
}
input[type='checkbox']{
    display: none;
}
.button{
    display: block;
    width: 112px;
    height: 50px;
    background-color: rgb(78, 78, 78);
    border-radius: 100px;
    position: relative;
}
.button::before{
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 100px;
    background-color: rgb(37, 37, 37);
    transition: all .1s ease-out;
}
input:checked + .button{
    background-color: rgb(175, 175, 175);
}
input:checked + .button::before{
    transform: translateX(60px);
    background-color: rgb(253, 247, 128);
}