.day27{
    width: 100vw;
    min-height: calc(100vh - 81px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.noti{
    width: 240px;
    height: 64px;
    background-color: blueviolet;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow .3s ease-out;
}
.noti:active{
    box-shadow: 0px 0px 120px white;
}
.barraNotis{
    position: absolute;
    right: 100px;
}
.mensajeA{
    width: max-content;
    max-width: 300px;
    min-height: 32px;
    height: auto;
    padding: 4px 20px;
    border-radius: 12px;
    margin: 2px 0;
}