.day33{
    width: 100vw;
    min-height: calc(100vh - 81px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.crearNota{
    margin-bottom: 32px;
    width: 240px;
    height: 48px;
    line-height: 48px;
    background-color: wheat;
    font-size: 2rem;
    color: black;
    border-radius: 12px;
    cursor: pointer;
    transition: scale .2s ease-out;
}
.crearNota:hover{
    scale: 1.08;
}
article.nota{
    width: 800px;
    height: auto;
    max-height: 600px;
    background-color: rgb(70, 70, 70);
    padding: 4px 8px;
    margin: 24px;
    border-radius: 12px;
}
article.nota header{
    width: calc(100% - 24px);
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 8px 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid salmon;
}
article.nota header button{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0 6px;
    padding: 4px;
    border-radius: 12px;
    transition: scale .1s ease-out;
}
article.nota header button:hover{
    scale: 1.2;
}
article.nota header button img{
    width: 28px;
    height: 28px;
    cursor: pointer;
}
article.nota .textarea{
    min-width: calc( 800px - 24px);
    width: calc(100% - 24px);
    max-width: calc( 800px - 24px) ;
    border: 0;
    min-height: 100px;
    max-height: 500px;
    padding: 12px;
    color: black;
    font-size: 1.5rem;
}